* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #F6F1F1;
    position: relative;
}

p{
    margin: 0px;
}

button:focus {
    outline: none;
}

.main-button {
    padding: 10px 20px;
    background-color: #146C94;
    border-radius: 8px;
    color: white;
    border: none;
}

.second-button {
    padding: 10px 20px;
    background-color: #239500;
    border-radius: 8px;
    color: white;
    border: none;
}

/* Start Navbar */
.navbar {
    position: relative;
}
.navbar-brand img{
    width: 20%;
    height: 10%;
}

.navbar img {
    width: 200px;
}

.bg-light{
    background-color: #146C94 !important;
}
#home-link{
    color: white;
    font-size: larger;
    margin-right: 10px;
}
.nav-item button{
    margin-right: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    padding: 0px 14px;
    border-radius: 8px;
    border: none;
}

#navbarNav{
    justify-content: end;
}


/* End Navbar */

/* Start Quiz Area */

.quizArea .quizBar {
    width: 100%;
    background-color: #d4d4d4;
    height: 15px;
    border-radius: 20px;
    transition: 0.5s;
}

/* fixed start*/

#fixed{
    background-color: #AFD3E2;
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 999;
    border: #146C94 5px solid ;
    text-align: center;
}

#fixed img{
    width: 30%;
}

#fixed button{
    width: 200px;
    height: 70px;
    background-color: #d4d4d4;
    border-radius: 10px;
    margin-top: 10px;
    transition: 0.3s;
    border: none;
    box-shadow: 5px 5px 5px #146C94;
}

#fixed button:hover{
    background-color: #146C94;
    box-shadow: 5px 5px 5px white;
    color: white;
}


/* fixed end*/


.quizArea .quizBar .fill {
    width: 25%;
    background-color: #146C94;
    height: 15px;
    border-radius: 20px;
    transition: 0.5s;
}

.quizArea .quizContent {
    background-color: #AFD3E2;
    border-radius: 8px;
    padding: 50px;
    position: relative;
    display: grid;
    grid-template-columns: 70% 30%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.quizArea .countdown-timer {
    position: absolute;
    top: 0;
    background-color: #146C94;
    border-bottom-left-radius: 8px;
    padding: 10px;
    color: white;
    right: 0;
}

.quizArea .quizContent .next{
    width: 200px;
    height: 50px;
    border-radius: 10px 0px 0px 0px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: #146C94;
    border: none;
    color: white;
    font-weight: bold;
}

.quizArea .quizContent .next i {
    transition: 0.3s;
}

.quizArea .quizContent .next:hover i {
    transform: translateX(5px);
}

.quizArea .quizContent .next span {
    font-size: 20px;
}

.quizArea .quizContent .quizAnswers {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.quizArea .quizContent .quizAnswers button {
    height: 100px;
    width: 300px;
    border-radius: 12px;
    border: none;
    transition: 0.3s;
    font-size: 20px;
    padding: 10px;
}

.quizArea .quizContent .quizAnswers button:focus {
    outline: none;
}

.quizArea .quizContent p {
    height: 120px;
}

.quizArea .quizContent .quizAnswers button:hover {
    background-color: #146b9475;
    color: white;
}

.quizArea .quizContent .quizAnswers button.active {
    background-color: #146C94;
    color: white;
}


/* End Quiz Area */




/* Start Footer */


footer {
    background-color: #146C94;
}

.foot {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    background-color: #146C94;
    padding: 20px;
}
.card {
    padding: 20px;
    background-color: #146C94;
    border: #146C94;
    color: white;
}
.paragraph a{
    text-decoration: none;
    color: white;
}
.image-card img {
    margin-top: 50px;
    width: 300px;
}

#finishQuiz {
    width: 200px;
    height: 50px;
    bottom: 0px;
    right: 0px;
    background-color: #146C94;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 8px;
}

#finishParagraph {
    font-size: 25px;
    font-weight: bold;
}

.copy{
text-align: center;
color: white;
padding: 10px;
}
@media screen and (min-width:481px) and (max-width:768px) {
    .footer {
        grid-template-columns: auto auto; 
    }
    .cont{
        margin-bottom: 20px;
    }
    .navbar-nav{
        flex-direction: row;
    }
}


  /* End Footer */