body {
    background-color: #F6F1F1;
}

.navbar {
    position: relative;
}
.navbar-brand img{
    width: 20%;
    height: 10%;
}

.navbar img {
    width: 200px;
}

.bg-light{
    background-color: #146C94 !important;
}
#home-link{
    color: white;
    font-size: larger;
    margin-right: 10px;
}
.nav-item button{
    margin-right: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    padding: 0px 14px;
    border-radius: 8px;
    border: none;
}

#navbarNav{
    justify-content: end;
}

.log-link {
    color: white;
    font-size: larger;
    margin-right: 10px;
    padding: 8px;
}

#userHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-link:hover {
    color: #afd3e2;
    transition: 0.3s;
    text-decoration: underline;
}

#headerUserName {
    display: none;
    color: rgb(102, 245, 102);
    font-size: 16px;
    margin-right: 10px;
}
#result {
    margin: auto;
    font-size: xx-large;
    text-align: center;
    padding: 50px;
    }
     .congrats {
        font-size: 50px;
        color: green;
        font-weight: bold;
        padding: 10px;
    
     }
     .fail {
        font-size: 50px;
        color: rgb(206, 11, 11);
        font-weight: bold;
        padding: 10px;
    
     }
     #see {
        background-color: #146C94;
        border: none;
        color: white;
        padding: 10px;
        margin: 15px;
        border-radius: 10px;
        font-size: 30px;
     }
    
    
    

footer {
    background-color: #146C94;
}
.foot {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    background-color: #146C94;
    padding: 20px;
}
.card {
padding: 20px;
background-color: #146C94;
border: #146C94;
color: white;
}
.paragraph a{
    text-decoration: none;
    color: white;
}
.image-card img {
    margin-top: 50px;
    width: 300px;
}
.copy{
text-align: center;
color: white;
padding: 10px;
margin: 0;
}
@media screen and (min-width:481px) and (max-width:768px) {
    .footer {
      grid-template-columns: auto auto; 
    }
   
    .cont{
        margin-bottom: 20px;
    }
    .navbar-nav{
        flex-direction: row;
        justify-content: center;
    }
  
    .text{
        margin-bottom: 50px;
    }

 .card p{
    font-size: small;
 }
 .copy{
    font-size: medium;
    text-align: center;
 }
/* hhhhhhh */
.image-card img {
    width: 200px;
    margin-top: 75px;
}

.card h2 {
    font-size: large;
    margin: 0;
    margin-bottom: 10px;
}
.copy {
    font-size: medium;
}

 }
 @media screen and (max-width:480px) {
    .navbar-nav{
        flex-direction: row;
        justify-content: center;
    }
      .navbar-brand img {
        width: 60%;
        height: 60%;
    }
      .box{
        font-size: small;
    }
    .image-text{
        display: block;
    }
    

    .text{
margin-bottom: 20px;
text-align: center;
margin-top: 20px;
    }
      .foot{
        display: block;
      }
      .image-card img {
            width: 90%;
            height: 90%;
        margin-top: 10px;
      }


      .card h2 {
        font-size: large;
        margin: 0;
        margin-bottom: 10px;
    }
     .card p{
        font-size: small;
     }
     .copy{
        font-size: small;
     }
     #result {
        font-size: x-large;
        
         }
         .fail {
            font-size: 45px;
           
         }
         #see {
            margin: 20px;
            font-size: 25px;
         }

         /*  */
         .image-text {
            display: block;
        }
    
        .image-text .image {
            display: flex;
            justify-content: center;
        }
    
        .text {
            margin-bottom: 20px;
            text-align: center;
            margin-top: 20px;
        }
    
        .foot {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    
        .image-card img {
            width: 90%;
            height: 90%;
            margin-top: 10px;
        }
        .copy {
            text-align: center;
            color: white;
            padding: 10px;
            font-size: small;
        }

        .navbar-brand{
                width: 50%;
        }

        /*  */
 }
