body {
  background-color: #f6f1f1;
}

small {
  color: red;
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #afd3e2;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  gap: 10px;
}
.SignUpImage {
  width: 40%;
  height: 40%;
}
.signUpLayout {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 20%;
  align-items: center;
}

.signupNote1 {
  font-size: 8px;
  color: gray;
  text-align: left;
}

.signupNote2 {
  display: inline-block;
  font-size: 8px;
  font-weight: bold;
  text-align: left;
  color: #146c94;
}

.signupNote3 {
  display: inline-block;
  font-size: x-small;
  font-weight: bold;
  text-align: left;
  color: #146c94;
}

.signupNote4 {
  display: inline-block;
  font-size: xx-small;
  font-weight: bold;
  text-align: left;
  color: #146c94;
  text-decoration: underline;
  color: #146c94;
}

hr {
  height: 1px;
  background-color: #333;
  border: none;
  margin: 10px 0;
}

.inputControl {
    position: relative;
}

.showPassword {
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}



